.wrapper{
    display: flex;
}
.add_card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-width: 474px;
    height: 774px;
    margin: 40px;
    border-radius: 40px;
    background: rgb(220,231,136);
    background: linear-gradient( rgba(186,235,176,0.5034802784222738) 40%, rgba(174,238,244,0.4872389791183295) 78%);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.596);
    p{
        margin-top: 30px;
        font-size: 30px;
    }
   
}
.add_card_dark{
    background: linear-gradient( rgba(0,5,122,1) 1%, rgba(114,28,135,1) 100%);
    box-shadow: 0px 0px 28px 0px rgba(255, 255, 255, 0.253);  
  
}
.temperature{
    font-size: 120px;
    margin-top:20px;
    padding-right: 40px;
    padding-left: 40px;
    background-image: url('../../IMG/background/Celsius\ icon.svg');
    background-repeat: no-repeat;
    background-position: right top;
}
.des{
    font-size: 30px;
}
.minmax{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
    width: 100%;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    .min{
        background-image: url('../../IMG/background/min.svg');
        background-repeat:no-repeat;
        background-position: center top;
        padding:25px;
        
    }
    .max{
        background-image: url('../../IMG/background/max.svg');
        background-repeat:no-repeat;
        background-position: center 13px;
        padding:25px;
       
    }
}   