.wrapper{
    display: flex;
    position: relative;
   .delate{
        position: absolute;
        top: 60px;
        right: 60px;
        width: 40px;
        height: 40px;
        background:none;
        border:none;
        background: url(../../IMG/background/del.svg);
        background-repeat:no-repeat;
        background-position:center center;
        background-size: 115%;
        opacity: 0.3;
        &:hover{
            opacity: 1;
        }
        &:focus{
            outline: none;
        }
   } 
   .delate_darck{
    background: url(../../IMG/background/deldarck.svg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 115%;
   }
}
.add_card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 474px;
    height: 774px;
    margin: 40px;
    border-radius: 40px;
    background: rgb(220,231,136);
    background: linear-gradient( rgba(186,235,176,0.5034802784222738) 40%, rgba(174,238,244,0.4872389791183295) 78%);
    box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.596);
    color: black;
    text-decoration: none;
    position: relative;
    p{
        margin-top: 30px;
        font-size: 30px; 
    }
    
}
.add_card_dark{
    background: linear-gradient( rgba(0,5,122,1) 1%, rgba(114,28,135,1) 100%);
    box-shadow: 0px 0px 28px 0px rgba(255, 255, 255, 0.253);
    color: rgb(255, 255, 255);
}
p.temperature{
    font-size: 120px;
    margin:0;
    margin-top:20px;
    
}
.des{
    font-size: 30px;
}
.minmax{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
    width: 100%;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    .min{
        background-image: url('../../IMG/background/min.svg');
        background-repeat:no-repeat;
        background-position: center top;
        padding:25px;
        
    }
    .max{
        background-image: url('../../IMG/background/max.svg');
        background-repeat:no-repeat;
        background-position: center 13px;
        padding:25px;
       
    }
}
 @media screen and (max-width: 900px), (max-height: 750px) {
    .add_card{
        width: 340px;
        height: 572px;
        padding: 10px;
        margin: 0;
        margin-top: 20px;
        p{
            margin:0;
            margin-top: 15px;
            font-size: 25px; 
        }
        .weather_icon{
            height: 180px;
            width: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 180px;
                width: 180px;
            }
        }
    }
    p.temperature{
        font-size: 90px;
        margin: 0;
    }
    .minmax{
        margin: 0;
        font-size: 40px;
        
    }
    .wrapper{
        .delate{
            top: 40px;
            right: 20px;
            width: 30px;
            height: 30px;
        }
    }
}   