.chainge_mode_white_left {
    display: flex;
    align-items: center;
    width: 56px;
    height: 22px;
    border-radius: 22px;
    background-color: #747474;
    transition: all 1s;
    div {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #332755;
        margin-left: 0;
        transition: all 1s;
    }
}
.chainge_button_position {
    div {
        margin-left: 26px;
    }
}
.chainge_mode_darck {
    background-color: #ed2d7a;
    div {
        background-color: white;
    }
}
.chainge_mode {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-weight: normal;
        font-size: 18px;
        margin: 8px;
    }
}

@media screen and (max-width: 900px) {
    .chainge_mode {
        margin: 0;
        width: 160px;
        p {
            margin: 4px;
            font-size: 12px;
        }
        .chainge_mode_white_left {
            width: 37px;
            height: 15px;
            div{
                width: 20px;
                height:20px;
                border-radius:20px;
            }
        }
        .chainge_button_position {
            div {
                margin-left: 17px;
            }
        }
    }
}
