.chainge_mode_white{
    width: 61px;
    height: 30px;
    background-image: url('../IMG/background/51.png')
}
.chainge_mode_darck{
    width: 59px;
    background-image: url('../IMG/background/48.png')
}
.chainge_mode{
    display: flex;
    margin-right: 30px;
    p{
        font-weight:normal;
        font-size: 18px;
        margin: 8px;
    }
}
.time{
    font-size: 30px;
}
.logo{
    display: flex;
    margin-left: 48px;
    text-decoration: none;
    color: black;
    p{
        font-size: 30px;
        margin-left: 30px;
    }
}