.chainge_mode_white{
    width: 61px;
    height: 30px;
    background-image: url('../IMG/background/51.png')
}
.chainge_mode_darck{
    width: 59px;
    background-image: url('../IMG/background/48.png')
}
.chainge_mode{
    width: 260px;
    display: flex;
    justify-content: center;
    
    p{
        font-weight:normal;
        font-size: 18px;
        margin: 8px;
    }
}
.time{
    font-size: 30px;
    text-align: center;
}
.logo{
    display: flex;
    margin-left: 48px;
    text-decoration: none;
    color: black;
    p{
        font-size: 30px;
        margin-left: 30px;
    }
}
.logo_darck{
    p{
        color:white;
    }
}
.setting_button{
    width: 50px;
    height: 50px;
    margin-right: 40px;
    border: none;
    background:none;
    background-image:url('../IMG/background/setting.svg');
    background-repeat:no-repeat;
    background-position: center, center;
    opacity: 0.6;
    &:hover{
        opacity: 1;
    }
    &:focus{
        outline: none;
    }
}
.setting_button_black{
    background-image:url('../IMG/background/setting_black.svg')
}
.settings{
    //position: absolute;
    /* right: 1px;
    top:70px; */
    display: flex;
    align-items:center;
    margin-right: -540px;
    transition: margin-right 1s;  
}
.settings_activ{
    margin-right: 0px;
}

@media screen and (max-width: 900px) {
    .logo{
        margin: 20px;
        p{
            display: none;
        }
    }
    .chainge_mode{
        margin: 20px;
        p{
            display: none;
        }
    }
    .time{
        font-size: 20px;
    }
  }