
.time{
    font-size: 30px;
    text-align: center;
}
.logo{
    display: flex;
    margin-left: 48px;
    text-decoration: none;
    color: black;
    p{
        font-size: 30px;
        margin-left: 30px;
    }
}
.logo_darck{
    p{
        color:white;
    }
}
.setting_button{
    width: 50px;
    height: 50px;
    margin-right: 40px;
    border: none;
    background:none;
    background-image:url('../IMG/background/setting.svg');
    background-repeat:no-repeat;
    background-position: center, center;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
    &:focus{
        outline: none;
    }
}
.setting_button_black{
    background-image:url('../IMG/background/setting_black.svg')
}
.settings{
    background-color: #ffffff;
    position: absolute;
    right: 1px;
    display: flex;
    align-items:center;
    margin-right: -540px;
    transition: margin-right 1s; 
}
.settings_activ{
    margin-right: 0px;
}
.setting_darck{
    background-color: #2b244d;
}
.under{
    margin-right: 20px;
    width: 50px;
    height:50px;
}

@media screen and (max-width: 900px) {
    .logo{
        margin: 20px;
        p{
            display: none;
        }
    }
    .time{
        font-size: 17px;
    }
    .settings{
        margin-right: -320px;
        .setting_button{
            margin-right: 0;
            
        }
    }
    .settings_activ{
        margin-right: -20px;
    }
}