.wrapper {
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    p{
        margin:0;
    }
    div{
        width: 100px;
        height: 100px;
        img{
            max-width: 100px;
            max-height: 100px;
        }
    }
    .temp{
        font-size: 35px;
    }
    .day{
        font-size: 30px;
        font-weight: bold;
    }
    .des{
        height: 36px;
    }
}