.datail_wrapper {
    width: 1218px;
    display: flex;
    flex-direction: column;
    padding:18px;
}
.current{
    width: 100%;
    height: 406px;
    border-radius: 20px 20px 0 0 ;
    background: linear-gradient( rgba(186,235,176,0.5034802784222738) 40%, rgba(174,238,244,0.4872389791183295) 78%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    position: relative;
    div{
        display:flex;
        flex-direction: row;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 40px;
            .temp{
                font-size: 95px;
                margin: 0;
                text-align: center;
            }
            .des{
                width: 200px;
                font-size: 30px;
                margin: 0;
                text-align: center;
            }
        } 
    }
    .city_name{
        font-size: 40px;
        p{
            margin:0;
            margin-bottom:60px;
        }
        
    }
}

.current_dark{
    background: rgba(76, 51, 185, 0.199);
}

.datail{
    width: 100%;
    height: 406px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    border-radius: 0 0 20px 20px;
    background: white;
    background: linear-gradient(180deg, rgb(126, 241, 103) 0%, rgba(77,229,244) 100%);
}
.datail::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.datail::-webkit-scrollbar {
    width: 10px;
    background-color: #63353500;
}

.datail::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148))
    );
}
.datail_dark{
    background: linear-gradient( rgba(0,5,122,1) 1%, rgba(114,28,135,1) 100%);
}


.chainge_mode{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -109px;
    p{
        font-weight:normal;
        font-size: 18px;
        margin: 8px;
    }
    .chainge_mode_white{
        width: 61px;
        height: 30px;
        margin-left: 0px;
        background-image: url('../IMG/background/51.png')
    }
    .chainge_mode_darck{
        width: 59px;
        background-image: url('../IMG/background/48.png')
    }
}
.back_white{
    width: 68px;
    height: 54px;
    background-image:url(../IMG/background/backwhite.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;
}
.back_darck{
    background-image:url(../IMG/background/backblack.svg)
}
@media screen and (max-width: 900px) {
    .current{
        flex-direction: column;
        align-items: center;
        height: auto;
        div{
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            img{
                width: 200px;
                height: 200px;
            }
            div{
                margin-left: 0;
            } 
        }
        .city_name{
            margin-bottom: 30px;
        }
        
    }
    .chainge_mode{
        flex-direction: row !important;
        div{
            margin: 0;
        }
    }
}