.datail_wrapper {
    width: 1218px;
    display: flex;
    flex-direction: column;
}
.current{
    width: 100%;
    height: 406px;
    border-radius: 20px 20px 0 0 ;
    background: linear-gradient( rgba(186,235,176,0.5034802784222738) 40%, rgba(174,238,244,0.4872389791183295) 78%);
    display: flex;
    justify-content: space-around;
    align-items:center;
    div{
        display:flex;
        flex-direction: row;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 40px;
            .temp{
                font-size: 95px;
                margin: 0;
                text-align: center;
            }
            .des{
                width: 200px;
                font-size: 30px;
                margin: 0;
                text-align: center;
            }
        } 
    }
   
}

.current_dark{
    background-image: url(../IMG/background/back.jpg)
}

.datail{
    width: 100%;
    height: 406px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 20px 20px;
    background: white;
    background: linear-gradient(180deg, rgb(126, 241, 103) 0%, rgba(77,229,244) 100%);
}
.datail_dark{
    background: linear-gradient( rgba(0,5,122,1) 1%, rgba(114,28,135,1) 100%);
}