.datail_wrapper {
    width: 1218px;
    display: flex;
    flex-direction: column;
}
.current{
    width: 100%;
    height: 406px;
    border-radius: 20px 20px 0 0 ;
    background: linear-gradient( rgba(186,235,176,0.5034802784222738) 40%, rgba(174,238,244,0.4872389791183295) 78%);
    display: flex;
    justify-content: space-around;
    align-items:center;
    div{
        display:flex;
        flex-direction: row;
    }
}
.datail{
    width: 100%;
    height: 406px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 20px 20px;
    background: white;
}