.datail_wrapper {
    width: 1218px;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding:18px;
}
.current{
    width: 100%;
    height: 406px;
    border-radius: 20px 20px 0 0 ;
    background: linear-gradient( rgba(186,235,176,0.5034802784222738) 40%, rgba(174,238,244,0.4872389791183295) 78%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    position: relative;
    div{
        display:flex;
        flex-direction: row;
        img{
            width: 400px;
            height: 400px;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 40px;
            .temp{
                font-size: 95px;
                margin: 0;
                margin-right: -12px;
                text-align: center;
            }
            .des{
                width: 190px;
                font-size: 30px;
                margin: 0;
                text-align: center;
            }
            .fills{
                text-align: center;
            }
        } 
    }
    .city_name{
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items:center;
        p{
            margin: 0;
        }
        .sunrice{
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items:center;
            margin: 0;
            img{
                width: 50px;
                height: 50px;
            }
            p{
                font-size: 15px;
                margin:0;
                &:nth-child(2){
                    margin-right: 50px;
                }
            }
           
        }  
    }
    
}

.current_dark{
    background: rgba(76, 51, 185, 0.199);
}

.datail{
    width: 100%;
    height: 426px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    background: white;
    background: linear-gradient(180deg, rgba(77,229,244)  0%,  rgb(126, 241, 103) 100%);

    .item_wrapper{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        overflow-x:auto;
        height: 190px;
    }
    
}
.datail::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.datail::-webkit-scrollbar {
    width: 10px;
    background-color: #63353500;
}

.datail::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148))
    );
}
.datail_dark{
    background: linear-gradient( rgba(0,5,122,1) 1%, rgba(114,28,135,1) 100%);
}


.chainge_mode{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -109px;
    p{
        font-weight:normal;
        font-size: 18px;
        margin: 8px;
    }
    .chainge_mode_white{
        width: 61px;
        height: 30px;
        margin-left: 0px;
        background-image: url('../IMG/background/51.png')
    }
    .chainge_mode_darck{
        width: 59px;
        background-image: url('../IMG/background/48.png')
    }
}
.back_white{
    width: 68px;
    height: 54px;
    background-image:url(../IMG/background/backwhite.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;
}
.back_darck{
    background-image:url(../IMG/background/backblack.svg)
}

@media screen and (min-width: 481px) {
    .item_wrapper::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    
    .item_wrapper::-webkit-scrollbar {
        width: 10px;
        height: 7px;
        background-color: #63353500;
    }
    
    .item_wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.44, rgb(122, 153, 217)),
          color-stop(0.72, rgb(73, 125, 189)),
          color-stop(0.86, rgb(28, 58, 148))
        );
    }
}


@media screen and (max-width: 900px) {
    .datail_wrapper{
        padding: 0px;
    }
    .current{
        flex-direction: column;
        align-items: center;
        height: auto;
        div{
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 150px;
            img{
                width: 200px;
                height: 200px;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items:center;
                margin-left: -20px;
                width: auto;
                height: auto;
                .fills{
                    font-size: 15px;
                    margin-bottom: 10px;
                }
                .temp{
                    font-size: 60px;
                }
                .des{
                    font-size: 20px;
                  width: auto;
                }
            } 
        }
        .sunrise{
            display: flex;
        }
        .city_name{
            height: auto;
            margin-top: 10px;
            p{
                margin: 0;
            }
        }
        
    }
    .chainge_mode{
        flex-direction: row !important;
        div{
            margin: 0;
        }
    }
}
@media screen and (max-width: 480px) {
    .current{
        flex-grow: 1;
    }
    .datail_wrapper{
        height: 99%;
    }
    .datail{
      height: 350px;
      min-width: 0;
      min-height: 0;
      justify-content: space-around;
    }
    .back_white{
        width: 30px;
        height: 24px;
        top: 15px;
        left: 15px;
    }
    
}