.body{
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .head{
    height: 92px;
    display: flex;
    background-color:white;
    justify-content:space-between;
  }
  .head_black{
    background-color:#2B244D;
  }
  .content{
    display: flex;
    height: calc(100vh - 92px);
    background-image: url('./components/IMG/background/Сгруппировать\ 46.svg');
    background-position: center center;
  }
  .content_black{
    background-color: #B290FF;
  }
}
