.body{
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-transform: uppercase;

  .head{
    height: 92px;
    display: flex;
    background-color:white;
    justify-content:space-between;
  }
  .head_black{
    background-color:#2B244D;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 92px);
    flex-wrap: wrap;
    background-image: url('./components/IMG/background/Сгруппировать\ 46.svg');
    background-position: center center;
    background-attachment: fixed;
    overflow:visible;
    overflow-y: scroll;
  }
  .content_black{
    background-image: url('./components/IMG/background/backgraundDark.jpg');
  }
}
.body_black{
  color: white;
}